#contact_modal {
    display: none;
}
.root{
    font-family: "DM Sans", sans-serif;
}
/*:focus {
    outline: 3px solid blue; /* Exemple de style pour le focus */
 /*   outline-offset: 4px;     /* Décalage de l'outline *//*
}
*/

body.modal-open {
    overflow: hidden; /* Empêche le défilement */
}

body.modal-open *:not(.modal) {
    pointer-events: none; /* Désactive les clics et les interactions sur l'arriere plan */
}

.photograph-header {
    background-color: #FAFAFA;
    height: 313px;
    margin: 0 30px 0 2%0;
    width: 100%;
   
}

.page__card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    gap:13%;
    width: 100%;
    height: 313px;
    background-color: #FAFAFA;
    margin: 0 ;
   
}
.page__card--text h1{
    color: #D3573C;
    font-size: 64px;
    margin-bottom: 0px;
    margin-top: 0px;
    
} 
.page__card--text h2, .media-text, .lightbox-text {
    color: #901C1C;
    font-size: 1.3em;
    font-weight: 300;
    margin-top: 5px;
}

.page__card--tag{
    color: #525252;
}

.contact_button {
    align-content: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    
}
.contact_button:hover{
    background-color:#DB8876;
    color: black;
    border: 3px white;
}

.page__card--portrait{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    align-self: center;
    
  }
.filter-section{
    
  display:flex;
  flex-direction: row;
  width: 100%;
  justify-content:flex-start ;
  margin: 15px;
  align-items: center;
  
}
.filter-section .filter-Label{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}
.filter-select{
    display: block;
    background-color: #901C1C;
    color: white;
    text-decoration: none;
    list-style : none;
    font-size: 18px;
    text-align: left;
    width: 172px;
    border:0;
    height: 69px;
    border-radius: 5px;
    padding-left: 8px;
}

.photographer-media{
    display:flex;
    width: 100%;
    height:max-content;
    justify-content: space-between;
    margin-top: 0;
    flex-flow: row wrap;

}
.media{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    height:360px;
    
}
.media-card{
    display:flex;
    flex-direction: column;
    width:350px;
    height:300px;
    justify-content: center;
    align-self: center;
    align-content: center;
  
}
.media-card img{
    width:350px;
    height:300px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.video-thumbnail {
    width: 350px; 
    height: 300px; 
    cursor: pointer; 
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.media-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    align-content: center;
    height: 20px;
    margin-bottom: 10px;

}
.nb-likes {
    font-weight: 800;
    
    
}
.wish-btn{
height:20px;
width: 20px;
font-size: 0.9em;
    cursor: pointer; 
    color: #901C1C;
    text-decoration: none;
    border: 0;
    background-color: white;
    padding: 0 ;
}
.wish-btn:hover{
    cursor: pointer; 
    color: #901C1C;
    text-decoration: none;
    
}
.like-result{
    position: fixed;
    bottom: 0px;
    right: 35px;
    background-color: #DB8876;
    color: black;
    height: 45px;
    width: 370px;
    z-index: 2;
    padding: 0 10px;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    
}
.result-likes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:15px;
}
.result-likes .heart{
    margin-left: 10px;
}

#contact_modal {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    
}

.modal-content {
    display: none; 
    border-radius: 5px;
    background-color: #DB8876;
    width: 48%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    

}    

.header-modal {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.contact-text {
    margin-bottom:20px;
}

.header-modal img {
    cursor: pointer;
    margin-top: 20px;
}

.header-modal h2, .Contact-name {
    margin: 0;
    font-size: 48px;
    font-weight: normal;
    text-align: center;
    white-space:nowrap;
}
.Contact-name {
    padding-top: -45px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px ;
    padding-right: 20px;
    overflow-y:scroll;
    max-height: 900px;
    scrollbar-color: #901C1C #DB8876;
    
    scrollbar-width:auto;
    
}

form label {
    color: #312E2E;
    font-size: 36px;

}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 18px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
.formData textarea{
    width: 100%;
    height: 130px;
    resize: none;
    border-radius: 5px;
    border-style: none;

}
.contactModal_button {
    align-content: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    
}
.contactModal_button:hover{
    background-color:black;
    color: white;
    border: 3px white;
}
.errorStyle{
    background-color: #901C1C;
}
.errorMessage{
    color: #901C1C;
}
#lightbox_modal {
    display: none; 
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.lightbox_modal {
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    max-width: 1242px;
    max-height: 900px;
    height: 100%;
    block-size: fit-content;
    align-items:normal;
    
    padding: 20px 50px ;
}
.player img{
    margin: 35px 50px 10px 50px;
    object-fit: cover;
    max-width:90%;
    max-height:700px;
    border-radius: 5px;
    object-position: center;

}
.lightbox-video{
    margin: 35px 50px 10px 50px;
    object-fit: cover;
    max-width:90%;
    max-height:700px;
    border-radius: 5px;
    object-position: center;
}
.lightbox-close-btn, .fa-sharp{
    font-size: 3em;
    color:#901C1C;
    cursor: pointer;
}
.lightbox-close-btn{
    margin-top:35px;
}
.player{
    display:flex;
    flex-direction: column;
    max-height: 800px;
}
.lightbox-center{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.lightbox-anchor{
    width:42px;
    height: 42px;
}
.lightbox-anchor1{
    margin-top: 35px;
    width:42px;
    height: 42px;
}
.lightbox-left{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
}
.lightbox-right{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.lightbox-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    align-content: center;
    height: 20px;
    margin: 0 50px;

}
@media screen and (max-width: 783px){
    .photograph-header{
        height: 513px;
    }
    .page__card{
    flex-direction: column;
    height: 513px;
    gap: 3%;
    
    }
    .photographer-media{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}